<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">ブログ</a>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/">ホーム</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">アカウント設定</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">サインアップ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
