{% extends "base.html" %}

{% block title %}ブログ | 詳細{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="my-4">{{ article_data.title }}</h2>
    <p>{{ article_data.category }}</p>
    <hr>
    <p>{{ article_data.created_at }} by {{ article_data.author.profile.username}}</p>
    <hr>
    {% if article_data.image %}
    <div class="mb-5">
        <img src="{{ article_data.image.url }}" alt="{{ article_data.image|cut:'blog/images/' }}">
    </div>
    {% endif %}
    <p>{{ article_data.content|linebreaksbr }}</p>
    {% if user.is_authenticated %}
    <hr>
    <div class="d-flex mb-5">
        <a href="{% url 'blog:article_edit' article_data.id %}" class="btn btn-primary me-2">編集</a>
        <form method="POST" action="{% url 'blog:article_delete' article_data.pk %}">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
        </form>
    </div>
    {% endif %}

    {% if comment_data %}
    <h3 class="mb-3">コメント</h3>
    <hr>
    {% for comment in comment_data %}

    <p>
        {{ comment.user.profile.username }}さん
        {{ comment.created_at }}<br>
        {{ comment.comment }}
    </p>
    {% if comment.user_id == request.user.id %}
    <form method="POST" action="{% url 'blog:comment_delete' article_data.pk comment.pk %}">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
    </form>
    {% endif %}
    <hr>
    {% endfor %}
    {% endif %}

    {% if not article_data.author_id == request.user.id %}
    <h3 class="my-3">投稿フォーム</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success">コメント</button>

    </form>
    {% endif %}

</div>

{% endblock %}
